<template>
    <div class="container">
        <h1>Posts</h1>
        
        <div class="mb-4" v-if="show_form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title"  placeholder="Title here" v-model="title">
            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <input type="text" class="form-control" id="body"  placeholder="Body here" v-model="body">
            </div>

            <div class="form-group">
                <label for="author_id">Author</label>
                <input type="number" class="form-control" id="author_id" placeholder="Author here" v-model="author_id">
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" v-model="date">
            </div>
            <hr>
            <button type="button" class="btn btn-primary" @click="save">Save</button>
        </div>
    
        <table class="table" v-if="posts.data">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Author</th>
                <th>date</th>
                <th>
                    <button v-if="!show_form" class="btn btn-success" @click="show_form = true">New</button>
                </th>
            </tr>
            <tr :key="post.id" v-for="post in posts.data">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td>{{post.author_id}}</td>
                <td>{{post.date}}</td>
                <td>
                    <button class="btn btn-danger" @click="remove(post.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</template>
    
<script>

import { POSTS_QUERY } from "./queries.js";
import { CREATE_POST, DELETE_POST } from "./mutations.js";

export default {
    apollo: {
        posts: POSTS_QUERY
    },
    data() {
        return {
            show_form: false,
            title: '',
            body: '',
            author_id: '',
            date: ''
        }
    },
    methods: {
        reset(){
            this.show_form = false;
            this.title = '';
            this.body = '';
            this.author_id = '';
            this.date = '';
        },
        remove(id){
            if(confirm("Are you sure?")){
                this.$apollo.mutate({
                    mutation: DELETE_POST,
                    variables: { id: id }
                }).then(response => {
                    this.$apollo.queries.posts.refetch();
                    this.reset();
                });
            }
        },
        save() {
            this.$apollo.mutate({
                mutation: CREATE_POST,
                variables: {
                    post: { title: this.title, body: this.body, author_id: this.author_id, date: this.date }
                }
            }).then(response => {
                this.$apollo.queries.posts.refetch();
                this.reset();
            });
        }
    }
}
</script>
